body {
  text-align: center;
  background-color: #2d2d37;
  color: white;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

label {
  font-size: 1.2rem;
}

p {
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: bold;
}

.task-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.task {
  cursor: pointer;
  font-size: 1rem;
  border: solid 1px red;
  width: 10vw;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

button {
  color: white;
  background-color: #E64944;
  padding: 8px;
  font-size: .8rem;
  font-weight: bold;
  display: inline;
}